<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
  
          <div class="one_quarter first">
            <h1 class="logoname clear"><a href="../index.html"><i class="fas fa-handshake"></i> <span>Shicso</span></a></h1>
            <p class="btmspace-30">Dịch vụ chăm sóc sức khỏe đi đầu thế giới Với sự hỗ trợ của các
              chuyên gia đầu ngành trên toàn thế giới về các vấn đề trong y học [<a href="#">&hellip;</a>]</p>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
          </div>
          <div class="one_quarter">
            <h6 class="heading">Thông tin liên hệ</h6>
            <ul class="nospace linklist contact">
              <li><i class="fas fa-map-marker-alt"></i>
                <address>
                  Hà Nội
                </address>
              </li>
              <li><i class="fas fa-phone"></i> +00 (123) 456 7890</li>
              <li><i class="fas fa-fax"></i> +00 (123) 456 7890</li>
              <li><i class="far fa-envelope"></i> info@domain.com</li>
            </ul>
          </div>
        </footer>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
  
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
      <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  
    </div>
  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
</body>
</html>